// utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

// personalizacion de html home/index

.contenedor-index{
    background-color: rgb(161, 159, 159);
    header{
        @include header;
    }
    .main-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: rgb(224, 224, 224);
        .imagen-logomain{
            @include flex;
            width: 50%;
            margin-top: 2rem;
            img{
                height: 100%;
                width: 100%;
                border: 1px solid black;
                border-radius: 100%;
            }
        }
        .texto-mainhome{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            p{
                text-align: center;
                margin: 1rem;
                margin-bottom: 2rem;
                background-color: $color-secundario;
                border-radius: 1rem;
                padding: 1rem;
                color: whitesmoke;
            }
        }
    }
    .section-uno{
        @extend %titulos;
    }
    .section-dos{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .articulos-enventa{
            @include flex;
            flex-direction: column;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 7px;
            margin: 0rem 3rem;
            background-color: #edebe4;
            gap: 1rem;
            .img-productoenventa{
                width: 70%;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .p-productoenventa{
                color: black;
                text-align: center;
            }
        }
    }
    .boton-vermas{
        @include flex;
        margin: 2rem;
        a{
            background-color: rgb(93, 173, 226);
            padding: .4rem;
            border-radius: 3px;
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: white;
            text-decoration: underline;
        }
    }
    .section-tres{
        @extend %titulos;
        
    }
    .section-cuatro{
        
    }
    footer{
        @include footer;
    }

}

/* MQ PARA TABLET */

@media screen and (min-width:600px){
    .contenedor-index{
        .main-index{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background-color: rgb(224, 224, 224);
            .imagen-logomain{
                @include flex;
                width: 130%;
                margin-left: 3rem;
                img{
                    height: 100%;
                    width: 120%;
                    border: 1px solid black;
                    border-radius: 100%;
                    margin-bottom: 2rem;
                }
            }
            .texto-mainhome{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem;
                p{
                    text-align: center;
                    margin: 1rem;
                    background-color: $color-secundario;
                    border-radius: 1rem;
                    padding: 1rem;
                    color: whitesmoke;
                }
            }
        }
        .section-uno{
            h2{
                text-align: center;
            }
        }
        .section-dos{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            .articulos-enventa{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 2fr;
                grid-template-areas: "img-productoenventa tittle-productoenventa""img-productoenventa p-productoenventa";
                border: 1px solid black;
                border-radius: 7px;
                background-color: #edebe4;
                gap: 0rem;
                .tittle-productoenventa{
                    color: black;
                    grid-area: tittle-productoenventa;
                    text-align: center;
                }
                .img-productoenventa{
                    width: 100%;
                    height: 100%;
                    grid-area: img-productoenventa;
                    @include flex;
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
                .p-productoenventa{
                    text-align: center;
                    color: black;
                    grid-area: p-productoenventa;
                    padding: 0rem 1rem;
                    font-size: .9rem;
                }
            } 
        }
    }
}