// variables
@import "../utilidades/variables";


// mixin sin parametros

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin header{
    display: flex;
    flex-direction: column;
    .nav-header{
        nav{
            .container-fluid{
                .navbar-toggler{
                    border: 0px;
                    .navbar-toggler-icon{
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(93, 173, 226)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
                    }
                }
            }
        }
    }
    .publi-header{
        background-color: #748CAB;
        p{
            color: whitesmoke;            
            text-align: center;
            padding: .5rem;
            font-size: .8rem;           
        }
    }
    .nav-header{
        background-color: #1D2D44;
        nav{
            #navbarNav{
                ul{
                    li{
                        .color-letras{
                            color: #F0EBD8;
                            text-align: center;
                            margin-right: 3rem;
                        } 
                        .color-letras:hover{
                            color: red
                        }                           
                    }
                }                
            }
        }
    }
}

@mixin footer{
    background-color: $color-principal;
    @include flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 1rem;
    .redes-footer{
        @include flex;
        gap: 2rem;
        a{
            color: white;
            transition: .5s;
        }
        a:hover{
            border: 1px solid white;
            padding: .3rem;
            transition: .5s;
        }
    }
}